@model Dominio.Entidad.Negocio.Entidad.Pedido

@{
    ViewBag.Title = "Crear Pedido";
}

<div class="container mt-4">
    <h2 class="text-primary mb-4">Registrar Pedido</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card shadow-sm border-0">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="mb-3">
                    @Html.LabelFor(model => model.codPedido, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.codPedido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codPedido, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.codCliente, htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("codCliente", (SelectList)ViewBag.Cliente, "Seleccione", new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.codCliente, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.codEmpleado, htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("codEmpleado", (SelectList)ViewBag.Empleado, "Seleccione", new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.codEmpleado, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.fecPedido, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.fecPedido, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.fecPedido, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.fecEntrega, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.fecEntrega, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.fecEntrega, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.fecEnvio, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.fecEnvio, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.fecEnvio, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.estadoEnvio, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.estadoEnvio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estadoEnvio, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.destino, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.destino, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.destino, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.direccionDestino, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.direccionDestino, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.direccionDestino, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.ciudadDestino, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.ciudadDestino, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ciudadDestino, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <input type="submit" value="Registrar" class="btn btn-success" />
                    @Html.ActionLink("Volver al Listado", "ListaPedido", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    }

    <div class="mt-3 text-danger fw-bold">
        @ViewBag.mensaje
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

