

@model Dominio.Entidad.Negocio.Entidad.Pedido
@{
    ViewBag.Title = "Detalles del Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/Content/Estilos_Generales.css" rel="stylesheet" />
    <link href="~/Content/Estilos_Detalles.css" rel="stylesheet" />
}

<div class="container">
    <h2 class="titulo-principal"><i class="bi bi-card-list me-2"></i>Detalles del Pedido</h2>

    <div class="card-base" role="region" aria-labelledby="pedidoInfoLabel">
        <div class="card-header-detalle" id="pedidoInfoLabel">
            <i class="bi bi-clipboard-check"></i> Información del Pedido
        </div>
        <div class="card-body-detalle">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.codPedido)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.codPedido)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.codCliente)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.codCliente)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.codEmpleado)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.codEmpleado)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.fecPedido)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.fecPedido)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.fecEntrega)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.fecEntrega)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.fecEnvio)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.fecEnvio)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.estadoEnvio)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.estadoEnvio)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.cantidad)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.cantidad)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.direccionDestino)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.direccionDestino)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ciudadDestino)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ciudadDestino)</dd>





                <!-- Resto de los campos aquí -->
            </dl>
        </div>
    </div>

    <div class="mt-4 d-flex gap-3 flex-wrap justify-content-center justify-content-md-start">
        @Html.ActionLink("Actualizar", "ActualizarPedido", new { id = Model.codPedido }, new { @class = "btn btn-outline-primary btn-custom" })
        @Html.ActionLink("Volver al Listado", "ListaPedido", null, new { @class = "btn btn-secondary btn-custom" })
    </div>
</div>