@model Dominio.Entidad.Negocio.Entidad.Producto

@{
    ViewBag.Title = "DetallesProducto";
}

<h2>DetallesProducto</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ActualizarProducto", new { id = Model.codigo  }) |
    @Html.ActionLink("Volver a Mantenimiento Productos", "MantLstProductos")
</p>
